*{
    margin: 0px;
    padding: 0px;
    
}

html{
    scroll-behavior: smooth;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0;
    left: 0;
}

/* __________Navigation Bar___________ */
#navbar{
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Girassol', cursive;
    width: 100vw;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#navbar ul li{
    list-style-type: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 0.2em 1em;
    border-radius: 1em;
    text-decoration: none;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}

  /* navigation img css */
  #navbar #logo{
     margin: 1rem 1.5rem;
  }
#navbar div #img{
    height: 4rem;
    border-radius: 17em;
    width: 4em;
}


/* _________Section Home_____________ */
#home{
    display: flex;
    flex-direction: column;
    /* padding: 3px 200px; */
    padding-top: .5rem;
    align-items: center;
    justify-content: center;
    height: 37rem;
}
#home::before{
    content: "";
    background: url('../bg1.jpg')no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 37rem;
}

#home .h-primary{
    color: white;
    text-align: center;
    /* font-family: 'Bree Serif', serif;    */
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    /* font-family: 'Bree Serif', serif;} */
}


/* _______________Section Services______________ */
#services-container #services{
    display: flex;
    margin: 0.5rem;
}
#services-container #services .box{
    border: 2px solid brown;
    padding: 2rem;
    margin: .6rem;
    border-radius: .7rem;
    background-color: rgb(228, 228, 228) ;
}
#services-container #services .box img{
    display: block;
    height: 7rem;
    margin: auto;
}
#services-container #services .box p{
    font-family: 'Bree Serif', serif; 
    font-size: 0.95rem;
    opacity: .9;
}
#services-container #services .box h2{
    margin-bottom: .3rem;
}

/* _________________Section Client___________________ */
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
    
}
#client-section{
    position: relative;
}
#client-section .h-primary{
    padding: .1rem;
}
#client-section #clients {
    padding: 0rem;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients .client-item{
    padding: 1.5rem;
}
#clients img{
    height: 4rem;
}

/* _______________Section Contact______________ */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../contact.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}
#contact #contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
 #contact #contact-box .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #contact #contact-box input,
 #contact #contact-box textarea{
     width: 100%;
     padding: .3rem;
     border-radius: 1.5rem;
     border: 2px solid black;
     font-size: .9rem;
     margin: .2rem;
     text-align: center;
 }
 
 #contact #contact-box textarea:hover{
     font-weight: bold;
     font-size: 0.95rem;
     
 }
 #contact #contact-box input:hover{
     font-weight: bold;
     font-size: 0.9rem;   
 }

 #contact #contact-box #submit{
     background-color: rgb(116, 194, 116);
     width: 6vw;
 }



/* ______________footer_______________ */
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: .4rem;
}



/* utility classes */
.h-primary{
    font-size: 3rem;
    padding: 0rem ;
    font-family: 'Bree Serif', serif; 
}
.h-secondary{
    font-size: 1.8rem;
    padding: 2rem ;
    font-family: 'Bree Serif', serif; 
}
.btn{
    background-color: brown;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    padding: .3rem;
    margin: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1.1rem;
}
.btn:hover{
    border-color: rgb(0, 0, 0);
}
.center{
    text-align: center;
}
